body{
    margin: 0px;
    background: #8FA5BC;
}
#header{
    height: 67px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#footer{
    height: 150px;
}
/* ./index  */

#create_div{
    position: fixed;
    justify-content: center;
    align-items: center;
    text-align: center;
    bottom: 5%;
    right: 3%;
}
#create{
    width: 76px;
    height: 76px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 45px;
    font-size: 100px;
    color: #8D847F;
}
#gallery{
    width: 90%;
    min-width: 587px;
    height: auto;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    position: relative;
}
.imagec{
    min-width: 273px;
    aspect-ratio: 2/3;
    display: inline-block;
    position: relative;
    margin: 10px;
    float: left;
    background-color: white;
}

/* ./create */
#page{
    width: 320px;
    aspect-ratio: 2/3;
    text-align: center;
    margin:  10px;
    padding: 10px;
    border: 5px solid #8FA5BC;
    background-color: #FFFFFF;
}
#text_table{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid black;
}
#text_table tr, td{
    padding: 5px 10px;
}
#f_subject{
    text-align: center;
}
#f_name{
    text-align: right;
}
#color-picker{
    background: #8D847F;
}
.pick{
    width: 30px;
    height: 30px;
    margin: 10px 5px;
}